.header h2 {
    font-family: "Menlo", monospace;
    padding: 6px 8px 6px 16px;
    margin-left: 250px; 
    font-size: 40px; 
    padding: 0px 10px;
    color: #6BB4B1;
    margin-top: 70px;
}

.facts {
    font-family: "Menlo", monospace;
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.facts h4 {
    color:#6BB4B1;
}
.paragraph{
    font-size: 28px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6BB4B1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #FFFFFF;
    display: block;
    font-family: "Helvetic Monospace", monospace;

}

.sidenav h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 28px;
    color: #FFFFFF;
    display: block;
    font-family: "Helvetic Monospace", monospace;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    font-family: "Helvetic Monospace", monospace;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}